body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

*, :after, :before {
    box-sizing: border-box;
}

.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

.tile_count .tile_stats_count span {
    font-size: 13px;
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

.tile_count .tile_stats_count .count {
    font-size: 40px;
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}
.tile_count .tile_stats_count span {
    font-size: 13px;
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}
body .container.body .right_col {
    background: #F7F7F7;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, :active, :focus, :visited, a, a:active, a:focus, a:visited {
    outline: 0;
}
